.page-wrapper {
  display: flex;
  .image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 auto;
      height: 100vh;
      width: auto;
    }
  }
  .auth-right {
    width: 29.5rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
    button {
      margin-top: 2rem;
    }
    .auth-footer {
      display: flex;
      gap: 4px;
    }
  }
}
