.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 106px;
  color: var(--color-styles-text-primary);
  text-align: center;
  @media only screen and (max-width: 450px) {
    padding-top: 60px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    margin: 0 auto;
    width: 350px;
    font-weight: 300;
  }

  picture {
    position: absolute;
    bottom: 0;
    margin: auto 0;
    img {
      width: 50vw;
      @media only screen and (max-width: 450px) {
        width: 80vw;
        height: 40vh;
      }
      @media only screen and (max-width: 850px) {
        width: 80vw;
        height: 40vh;
      }
    }
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
  flex-grow: 1;
  .title {
    margin: 1rem 0;
  }
}