:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #f6f6f4;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-styles-text-primary: #071015;
  --text-on-color: #FFF;
  --Gray-10: #EDF4F2;
  --Gray-20: #DDE9E6;
  --Gray-30: #B0BFBD;
  --Gray-50: #272D2D;
  --Gray-60: #1C2526;
  --Gray-70: #131E20;
  --Primary-30: #F9FF90;
  --Primary-50: #F4FF47;
  --Primary-60: #D0DB33;
  --Primary-70: #ACB723;
  --Text-Tertiary: #74817F;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 150%;
}

a, button, input, textarea {
  all: unset;
  display: inline;
  max-height: 56px;
}

a {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 9.5rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-wrapper {
  color: var(--color-styles-text-primary);
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.logo {
  height: 4rem; 
  width: 4rem;
  margin-right: 2rem;
}

h1 {
  font-size: 2rem;
  line-height: 120%;
  color: var(--color-styles-text-primary);
}

h3 {
  font-size: 1.625rem;
  line-height: 120%;
  color: var(--color-styles-text-primary);
}

p {
  text-align: center;
  font-weight: 300;
  display: inline;
}

@import './styles/Buttons.scss';
@import './styles/Modal.scss';
@import './styles/auction.scss';
@import './styles/auction-meta.scss';

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch; 
}

.button-img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 38px;
  cursor: pointer;
}

.profile-tabs-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-tabs {
  display: flex;
  border-radius: 20px;
  background: var(--Gray-10);
  padding: .25rem;
  gap: .5rem;
}

.profile-tab {
  width: 94px;
  padding: .5rem 1rem;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}

.profile-tab.active {
  background-color: var(--Gray-50);
  color: var(--text-on-color);
}

.home-title {
  margin-bottom: 2rem;
}

.auth-title {
  text-align: center;
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}