:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #f6f6f4;
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-styles-text-primary: #071015;
  --text-on-color: #FFF;
  --Gray-50: #272D2D;
  --Primary-50: #F4FF47;
  --Gray-20: #DDE9E6;
  --Gray-30: #B0BFBD;
  --Text-Tertiary: #74817F;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, button, input {
  all: unset;
  display: inline;
  max-height: 56px;
}

.text-wrapper {
  color: var(--color-styles-text-primary);
  font-weight: 700;
}

.button {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
}

.primary {
  margin-top: 2rem;
  background: var(--Primary-50);
  color: var(--color-styles-text-primary);
}

.secondary {
  background: var(--Gray-50);
  color: var(--text-on-color);
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

h1 {
  font-size: 2rem;
  line-height: 120%;
  color: var(--color-styles-text-primary);
}

h3 {
  font-size: 1.625rem;
  line-height: 120%;
  color: var(--color-styles-text-primary);
}

p {
  color: var(--Text-Tertiary);
  text-align: center;
  font-weight: 300;
  line-height: 150%;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.button-img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 38px;
}